<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="userService" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.kejikeji.lbs.service.impl.UserServiceImpl">
            	<property name="dao"><ref bean="commonDAO" /></property>
            </bean>
        </property>
        <property name="proxyInterfaces">
            <value>com.kejikeji.lbs.service.UserService</value>
        </property>
    </bean> 

	<bean id="messageService" parent="txProxyTemplate">
        <property name="target">
            <bean class="com.kejikeji.lbs.service.impl.MessageServiceImpl">
            	<property name="dao"><ref bean="commonDAO" /></property>
            </bean>
        </property>
        <property name="proxyInterfaces">
            <value>com.kejikeji.lbs.service.MessageService</value>
        </property>
    </bean>
	
</beans>
