<link rel="stylesheet" type="text/css" media="all" href="$rc.contextPath/jscalendar/calendar-green.css" title="green" />
<script type="text/javascript" src="$rc.contextPath/jscalendar/calendar.js"></script>
<script type="text/javascript" src="$rc.contextPath/jscalendar/lang/cn_utf8.js"></script>
<script type="text/javascript" src="$rc.contextPath/jscalendar/calendar-setup.js"></script>